<% provide(:title, t'contact.title') %>
<h1><%= t'contact.title'%></h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <%= t'contact.content'%>
  <a href="http://www.railstutorial.org/#contact"><%= t'contact.site'%>contact page</a>.
</p>